@font-face {
    font-family: 'TT Lakes';
    src: 
         url('fonts/TTLakes-ExtraLightItalic.woff') format('woff'),
         url('fonts/TTLakes-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src:
         url('fonts/TTLakes-LightItalic.woff') format('woff'),
         url('fonts/TTLakes-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
         url('fonts/TTLakes-Thin.woff') format('woff'),
         url('fonts/TTLakes-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
         url('fonts/TTLakes-DemiBoldItalic.woff') format('woff'),
         url('fonts/TTLakes-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
         url('fonts/TTLakes-ExtraBoldItalic.woff') format('woff'),
         url('fonts/TTLakes-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src:
         url('fonts/TTLakes-ExtraLight.woff') format('woff'),
         url('fonts/TTLakes-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
         url('fonts/TTLakes-Bold.woff') format('woff'),
         url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
         url('fonts/TTLakes-DemiBold.woff') format('woff'),
         url('fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src:
         url('fonts/TTLakes-Black.woff') format('woff'),
         url('fonts/TTLakes-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
         url('fonts/TTLakes-MediumItalic.woff') format('woff'),
         url('fonts/TTLakes-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
         url('fonts/TTLakes-Medium.woff') format('woff'),
         url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src:
         url('fonts/TTLakes-Regular.woff') format('woff'),
         url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src:
         url('fonts/TTLakes-BoldItalic.woff') format('woff'),
         url('fonts/TTLakes-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
         url('fonts/TTLakes-ThinItalic.woff') format('woff'),
         url('fonts/TTLakes-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
         url('fonts/TTLakes-BlackItalic.woff') format('woff'),
         url('fonts/TTLakes-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
         url('fonts/TTLakes-ExtraBold.woff') format('woff'),
         url('fonts/TTLakes-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Light.woff') format('woff'),
         url('fonts/TTLakes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    background: #F8F8F8;
    padding: 0;
    margin: 0;
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'TT Lakes';
    
}

p {
    margin: 0;
    font-family: 'TT Lakes';
}


a {
    font-family: 'TT Lakes';
    
}



.nav_menu {
    height: 88px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_nav {
    display: flex;
    align-items: center;
}


.logo {
    width: 96px;
    height: 50px;
    
}

.call-nav, .chat-nav, .profile-nav, .divider_2-nav {
    display: none;
}


.call, .chat, .profile, .divider_2, .divider_1{
    display: none;
}

.more-text {
    display: none;
}

.active-menu_side-nav {
    display: none;
}

.cps_logo {
    width: 100%;  
}

.shadow {
    width: 100%;
    height: 1px;
    background-color: #D9FFF5;
}

.side-active {
    margin-right: 12px;
}

.active-menu {
    width: 100%;
    display: flex;
    margin: 16px 0 24px 0;
    justify-content: space-between;
}


.active-menu-title {
    margin-left: 12px;
    border-radius: nullpx;
    font-weight: bold;
    position: absolute;
    letter-spacing: -0.6px;
}

.active-menu-link {
    display: flex;
    padding: 8px 9px;
    white-space: nowrap;
    box-sizing: border-box;
    border: 2px solid transparent;
    margin: 0 0 0 16px; 
    text-decoration: none;
}

.active-menu-link:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.active-menu-link.actve {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    display: flex;
    overflow: scroll;
    margin-bottom: 24px;
}

.description {
    display: flex;
    flex-direction: column;
}

.description_text {
    margin: 0 0 16px 16px
}

.read {
    font-weight: 500;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px; 
}

.read-next {
    display: flex;
    margin: 16px 0 0 16px;
}

@media (min-width: 767px) {
    .call-nav, .profile-nav, .chat-nav {
        display: flex;
        align-self: center;
        float: right;
    }

     .call, .chat, .profile, .divider_1 {
        display: flex;
        align-self: center;
        float: right;
    }

    .description {
        display: flex;
        flex-direction: row;
    }

    .description_text {
        width: 100%;
    }
 
    .read-next {
        margin-top: 10px;
    }

    .cps_logo {
        width: 100%;
        border-radius: 20px;
    }

}

@media (min-width: 1120px) {
    header {
        display: none; 
    }

    .repair-nav, .checkstatus-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 32px;
    }
    
    .submit, .checkstatus-text {
        margin-right: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px; 
    }

    .active-menu {
        margin-top: 42px;
    }

    .menu {
    flex-wrap: wrap;
    }

    .more-text {
        display: flex;
        margin-top: 20px;
    }

    .side-nav {
        display: flex;
        justify-content: space-between;
    }

    .active-menu_side-nav  {
        display: flex;
    }


}
